





.diffcolors{
    background: linear-gradient(to right, green 0%, green 50%, red 50%,red 100%), linear-gradient(to right, yellow 0%, yellow 50%, blue 50%, blue 100%);
    background-size: 100% 50%;
    background-position: center top, center bottom;
    background-repeat: no-repeat;
}